PORT=5000
# MONGODB_URI=mongodb://localhost:27017/rithanya-cms
MONGODB_URI=mongodb+srv://raviak213:ravi@cluster0.p0ux2.mongodb.net/canteen-management-system

JWT_SECRET=your_jwt_secret_key
CLIENT_URL=http://localhost:5173

## mail service

SMTP_SERVICE=gmail
SMTP_USER=msaibabakutty@gmail.com
SMTP_PASS=bhww zfmk ecqh kemv
SMTP_SECURE=true
SMTP_PORT=587
ADMIN_EMAIL=msaibabakutty@gmail.com
